<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clitehd">

<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.clitehd.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.clitehd.Setting"
            android:parentActivityName="com.example.clitehd.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.clitehd.Join"
            android:parentActivityName="com.example.clitehd.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.clitehd.Create"
            android:parentActivityName="com.example.clitehd.MainActivity"
            android:exported="true">
        </activity>


        <activity
            android:name="com.example.clitehd.MeetActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.clitehd.schedule"
            android:parentActivityName="com.example.clitehd.Create"
            android:exported="true">
        </activity>

    </application>

</manifest>